.header__content{
    height: 70px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 20px;
}
.banner__content{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-top: 5px;
}
.introtextarea {
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-top: 5px; 
}
.main__content {
    background-color: gray;
    margin-top: 5px; 
    width: 390px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.footer__content {
    background-color: gray;
    height: 50px;
    margin-top: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__container{
    display: flex;
    justify-content: space-between;
}
